<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div><h1>HealT</h1></div>
<div>
    <form>
        <input type="radio" id="patient">patient

        <input type="radio" id="doctor">doctor<br>
        <label for="Email">Email</label>
        <input type="email" name="Email" id="Email"><br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <button>Login</button><br><br>
        <a href="chat">chat with dr.Chiki as a guest</a>
    </form>
</div>

</body>
</html>