<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealT</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            padding: 50px;
        }
        h1 {
            color: #333;
        }
        p {
            font-size: 1.2em;
            color: #555;
        }
    </style>
</head>






<div><h1>HealT</h1></div>
<div>
    <form>
        <input type="radio" id="patient">patient

        <input type="radio" id="doctor">doctor<br>
        <label for="Email">Email</label>
        <input type="email" name="Email" id="Email"><br>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <button>Login</button><br><br>
        <a href="chat">chat with dr.Chiki as a guest</a>
    </form>
</div>

</html>