<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>HealT</title>
</head>
<body>
    <header>
        <div class="title">
            <table>
                <thead>
                    <br>
                    Get in contact with your contact directly! :&rpar;</thead>
                <tr>
                    <td>
                         <h1 id="right">HealT </h1>
                    </td>
                    <th> <img id="left" src="https://static.vecteezy.com/system/resources/previews/037/372/142/non_2x/plant-health-icon-line-illustration-vector.jpg" alt="logo" width="100px" height="100px"></th>
                </tr>
            </table>
        </div>
        </header>
        <br>
        <br>
        <br>
        <br>
    <div class="patient-page">
        <div class="patient-info">
            <div class="name-image">
                <var class="name">Patient Name</var>
                <span><img src="https://cdn-icons-png.freepik.com/512/8638/8638075.png" alt="profile-pic" width="70px" height="70px"></span>
            </div>
            <hr>
            <div class="information"><var ><a href="mailto:someone@example.come">patient@email.com</a></var></div>
            <div class="information"><var ><a href="tel: +1234567890"> Patient phone</a></var></div>
            <div class="information"><var >Postal Code of Patient</var></div>
        
        </div>

    <div id="patient-buttons">
        <div class="button"><button class="patient-button" onclick=""> Find Doctor. Get in Contact With a clinic</button></div>  
        <div class="button"><button class="patient-button" onclick="">Cancel Doctor/Clinic</button></div>   
        <div class="button"> <button class="patient-button" onclick=""> Get Waistlisted for a doctor</button></div> 
    </div> 
  </div>  

  <div id="dr-chiki">
    <!-- DR Chiki clinic AI Bot -->
    <div class="chat-box">
        <h3>Dr Chicki's Clinic <span><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpRV3XPh3LwkqlZeIzwkHWW7_EJNNt1kSwGg&s" alt="DrChikiFace"></span></h3>
        <div class="chat-messages">
            <!-- Chat messages will go here -->
            <p>Hello! How can I assist you today?</p>
        </div>
        <div class="chat-input">
            <input type="text" placeholder="Type your message...">
            <button>Send</button>
        </div>
    </div>
</div>
<div class="image"><img src="https://plus.unsplash.com/premium_photo-1682130157004-057c137d96d5?q=80&w=1032&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Hospiatl Waiting Room"></div>
</body>
</html>